:root {
    --main-color: #287fb8;
    --hover-color: #0b2c41;
    --menu-text-color: white;

    --nav-min-width: 220px;
    --article-max-width: 1000px;
    --banner-text-color: rgb(238, 238, 238);
    --banner-background-color: #0f4264;

    --footer-background-color: #acd1e7;

    --box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    font-size: min(16px, calc(1vmax + 1vmin));
    line-height: 1.6;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: absolute;

}

header h1 {
    font-size: 4rem;
    text-align: center;

    padding: 4rem 4rem;
    margin-bottom: 4rem;
    color: var(--banner-text-color);

    background-color: var(--banner-background-color);

    box-shadow: var(--box-shadow);
}

h2 {
    font-size: 3rem;
    text-align: center;
}

main {
    margin-top: 2rem;
    display: grid;
    
    grid-template-columns: var(--nav-min-width) auto;
}

article {
    max-width:var(--article-max-width);

    box-shadow: var(--box-shadow);
    padding: 5em;
    margin-bottom: 5em;
}

article p {
    font-size: 1.2em;

    margin-top: 1.2em;
    margin-bottom: 2em;
}

figure > img {
    margin-top: 2em;
    width: 100%;
    height: auto;

    max-width: fit-content;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure > figcaption {
    margin-bottom: 4em;
    margin-top: 0.1em;

    text-align: center;
}

footer {
    margin-top: 5em;

    background-color: var(--footer-background-color);

    padding: 5em;

    box-shadow: var(--box-shadow);
}

footer a {
    color: rgb(65, 65, 211);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
}

footer ul li:nth-child(3) {
    grid-column: span 2;
}

footer ul ol {
    list-style: none;
    padding-left: 0.5em;
}

pre {
    overflow-x: auto;

    padding: 1em;
    background-color: lightgray;

    border: 1px solid rgb(99, 99, 99);
    border-radius: 3px;
}


pre > code {
    display: block;

    width: 1px;

    font-size: 1.15em;
}

q::after, q::before {
    content: none;
}


.content-container {
    margin: 0 auto;
}

.inline-code {
    padding: 0.05em 0.15em;
    background-color: lightgray;

    border-radius: 3px;
    border: 1px solid rgb(99, 99, 99);
}

.page-nav {
    display: grid;
    grid-auto-flow: column;

    position: sticky;
    top: 0;

    height: 100vh;

    box-shadow: var(--box-shadow);

    overflow: auto;

    z-index: 5;
}

.page-nav > ul {
    display: flex;

    flex-direction: column;

    background-color: var(--main-color);
}

.page-nav li {
    flex: 1;
    font-size: 1.2em;
    display: grid;
}

.page-nav a {
    color: var(--menu-text-color);

    display: grid;
    align-items: center;
    text-align: center;

    text-decoration: none;

    padding: 0.6em;
}

.page-nav ul a:hover {
    background-color: var(--hover-color);

    transition-duration: 250ms;
    transition-property: background-color;
}

#menu-btn:hover {
    background-color: var(--hover-color);

    transition-duration: 250ms;
}

#menu-btn {
    width: 2.5em;
    height: 2.5em;

    background-color: var(--main-color);
    color: var(--menu-text-color);

    border: none;
    top: 1.5em;
    position: fixed;

    display: none;

    z-index: 3;
}

#literature-list > li::before {
    content: "["counter(list-item)"] ";
}

@media (max-width: 980px) {
    main {
        grid-template-columns: 1fr;
    }
    
    .page-nav {
        position: fixed;
        transform: translateX(-100%);

        transition: 250ms;
    }

    #menu-btn {
        display: block;

        transition: 250ms;
    }

    footer ul > li {
        grid-column: span 2;
    }
}


@media (min-width: 1524px) {
   .content-container {
    margin-left: 160px
   }
}

